@import '../config/colors';
@import '../config/sizes';

.content-block {
  min-height: 200px;
  background: $dark2;
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: center;

  .content-container {
    width: 100%;
    max-width: $container;
  }

  &--transparent {
    background: none;
  }
}
